<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yaoh.AndroidDemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- jobSevice -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:name="com.yaoh.AndroidDemo.view.arc_demo.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yaoh.AndroidDemo.view.arc_demo.ArcActivity" />
        <activity android:name="com.yaoh.AndroidDemo.view.sport_detail.SportDetailViewActivity" />
        <activity android:name="com.yaoh.AndroidDemo.view.heart_rate.HeartRateActivity" />
        <activity android:name="com.yaoh.AndroidDemo.view.sleep.SleepViewActivity" />
        <activity android:name="com.yaoh.AndroidDemo.view.xfermode.XferModeActivity" />
        <activity android:name="com.yaoh.AndroidDemo.view.attained.ContinueAttainedActivity" />
        <activity android:name="com.yaoh.AndroidDemo.view.recy.RecyPullRefreshActivity" />
        <activity android:name="com.yaoh.AndroidDemo.dm.view.TestMVPActivity" />
        <activity android:name="com.yaoh.AndroidDemo.zip.ZipDemoActivity" />
        <activity android:name="com.yaoh.AndroidDemo.radiobutton.RadioButtonActivity" />
        <activity android:name="com.yaoh.AndroidDemo.handler.HandlerActivity" />
        <activity android:name="com.yaoh.AndroidDemo.service.normal.ServiceTestActivity" />

        <service
            android:name="com.yaoh.AndroidDemo.service.normal.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.yaoh.AndroidDemo.bluetooth.normal.BluetoothActivity" />
        <activity android:name="com.yaoh.AndroidDemo.bluetooth.autopair.AutoPairActivity" />

        <!-- <receiver android:nacom.yaoh.demodemo.bluetooth.autopair.BluetoothReceiver" > -->
        <!-- <intent-filter android:priority="1000"> -->
        <!-- <action android:name="android.bluetooth.device.action.PAIRING_REQUEST"/> -->
        <!-- <action android:name="android.bluetooth.device.action.FOUND" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <activity android:name="com.yaoh.AndroidDemo.listview.ListViewActivity" />

        <service
            android:name="com.yaoh.AndroidDemo.bluetooth.normal.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.yaoh.AndroidDemo.coord_demo.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme" />
        <activity android:name="com.yaoh.AndroidDemo.coord_demo.custom.CustomCoordActivity" />
        <activity android:name="com.yaoh.AndroidDemo.coord_demo.custom2.CustomCoord2Activity" />
        <activity android:name="com.yaoh.AndroidDemo.coord_demo.custom3.Custom3Activity" />
        <activity android:name="com.yaoh.AndroidDemo.coord_demo.custom4.Scroll2Activity" />
        <activity android:name="com.yaoh.AndroidDemo.view.number_anim.NumberAnimatorActivity" />
        <activity android:name="com.yaoh.AndroidDemo.view.scrlloview.ScrollViewActivity" />
        <activity android:name="com.yaoh.AndroidDemo.service.job.JobMainActivity" />

        <service
            android:name="com.yaoh.AndroidDemo.service.job.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name="com.yaoh.AndroidDemo.permission.PermissonActivity" />
        <activity android:name="com.yaoh.AndroidDemo.bitmap.BitmapActivity" />
        <activity android:name="com.yaoh.AndroidDemo.xrecyclerview.XRecyclerViewActivity" />
        <activity android:name="com.yaoh.AndroidDemo.view.seekbar.SeekBarActivity" />
        <activity android:name="com.yaoh.AndroidDemo.view.msloadingview.TestViewActivity" />
        <activity android:name="com.yaoh.AndroidDemo.java8.TestJava8Activity" />
        <activity android:name="com.yaoh.AndroidDemo.aidl.AIDL1Activity" />
        <activity android:name="com.yaoh.AndroidDemo.aidl.AIDL2Activity" />
        <activity android:name="com.yaoh.AndroidDemo.beacon.BeaconTestActivity" />
        <activity android:name="com.yaoh.AndroidDemo.mymapview.MainMyMapViewActivity" />
        <activity android:name="com.yaoh.AndroidDemo.view.myview.MyViewActivity" />
        <activity android:name="com.yaoh.AndroidDemo.RxJava.RxJavaActivity" />
        <activity android:name="com.yaoh.AndroidDemo.display.DisplayDemoActivity"></activity>
    </application>

</manifest>